<div class="page">
    <div class="container">
        <h1>Comparar Motos</h1>
        <div class="compare-container">
            <div class="selector-container">
                <select>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>

            <div class="selector-container">
                <select>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
    </div>
</div>