table {
    width: 100%;
    margin: 0.5rem 0;
    max-height: 500px;
}

th, td {
    border: 1px solid black;
    padding: 0 0.15rem;
}

th {
    text-align: center;
}

    th.guid-column, td.guid-column {
        min-width: 300px;
        width: 1%;
        white-space: nowrap;
    }

    th.name-column {
        width: 60%;
    }

td.no-info-column {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

tbody tr:hover {
    background-color: gainsboro;
}

tbody tr.selected {
    background-color: whitesmoke;
}