@page "/"
@using Gerador.Site.Components
@using Gerador.Site.Components.Brand
@using Gerador.Site.Models.Brand
@using Gerador.Site.Services

<PageTitle>Home</PageTitle>

@* <RadzenStack>
    <InputFile />
</RadzenStack>

<RadzenStack>
    <RadzenButton Text="Nova Marca" />
</RadzenStack> *@


@* <div>
    <InputFile />
</div> *@

<div>
    <button @onclick=@OnClickNewBrand>
        Nova Marca
    </button>
</div>

<BrandList OnDoubleClick="OnSelectBrand" @ref=@_brandList />

@code {
    private BrandList _brandList;

    [Inject]
    public DialogService DialogService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected async Task OnClickNewBrand()
    {
        await DialogService.OpenAsync<NewBrandModal>( 
            "Nova Marca", 
            new Dictionary<string, object>() { }
        );

        await _brandList.Update();
    }

    protected async Task OnSelectBrand(Guid brandGuid)
    {
        NavigationManager.NavigateTo( $"/brand/{brandGuid}" );
    }
}